* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 20vh 1fr;
}

a {
  color: white;
  text-decoration: none;
}

section > p {
  font-size: 1.1rem;
  align-self: center;
}

/* sidebar */
.sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  background: royalblue;

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.sidebar__dashboard-logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh;
  gap: 5px;
  padding: 20px 10px 20px 10px;
  align-items: center;
  justify-items: start;
}

.sidebar__main-nav {
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
}

.sidebar__settings {
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
}

@media (max-width: 1000px) {
  .sidebar__dashboard-logo {
    grid-template-columns: 1fr;
  }
}

/* header */
.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 20vh;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.header__search-bar {
  display: flex;
  gap: 10px;
}

.header__search-bar > img {
  align-self: center;
}

.header__search-bar > input {
  border-radius: 1rem;
  background: lightsteelblue;
  width: 40vw;
  height: 1.5rem;
}

.header__bell-pp-name {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding-right: 10px;
}

.header__pp-hi-name {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
}

.header__pp-hi-name > img {
  grid-row: 1 / 3;
  justify-self: center;
}

.header__pp-hi-name > p:nth-last-child(1) {
  font-size: 1.4rem;
}

.header__user-action-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-right: 20px;
}

.header__user-action-btns > button {
  width: 75px;
  padding: 10px;

  border-radius: 20px;
  color: white;
  background: royalblue;
  border: none;
}

@media (max-width: 800px) {
  .sidebar {
    height: 120vh;
  }
  .header {
    height: 40vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  body {
    grid-template-rows: 1fr 3fr;
  }
  .header__pp-hi-name {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }
}

/* main */
.main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  background: lightyellow;
  height: 80vh;
}

/* main's project list */
.project-section {
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 60px;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px 10px 10px;
}

.project-list__title {
  padding: 20px 0 20px 0;
  margin-left: 10px;
  align-self: start;
}

.project {
  display: grid;
  border: 1px solid black;
  border-left: 7px solid orange;
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px grey;
}

.project__title {
  font-weight: bold;
  align-self: end;
}

.project__description {
  color: grey;
  margin-top: 5px;
}

.project__actions {
  justify-self: end;
  align-self: end;
}

.project__actions > a {
  color: black;
}

@media (max-width: 750px) {
  .sidebar {
    height: 155vh;
  }
  .main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 115vh;
  }
  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 10px 10px 10px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    height: 200vh;
  }
  .header {
    height: 50vh;
  }
  .main {
    height: 150vh;
  }
}

/* main's announcements */
.announcement-section {
  display: grid;
  grid-template-rows: 60px;
}

.announcement-list__title {
  margin-left: 5px;
  padding: 20px 0 20px 0;
  align-self: start;
}

.announcement-list {
  display: grid;
  padding: 10px;
  border: 1px solid black;
  border-left: 7px solid orange;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px grey;
  font-size: 0.8rem;
  padding: 10px;
  margin: 0 10px 10px 0;
}

.announcement {
  display: grid;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

.announcement:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.announcement__title {
  font-weight: bold;
  align-self: end;
}

.announcement__desc {
  color: grey;
}

/* main's trending */
.trending-section {
  display: grid;
  grid-template-rows: 60px 5fr;
}

.trending-list__title {
  margin-left: 5px;
}

.trending-list {
  display: grid;
  border: 1px solid black;
  border-left: 7px solid orange;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px grey;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.trending > img {
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

.trending__realname {
  color: grey;
}
